ul {
	list-style-type: none;
}
li {
	height: 20%;
	clear: both;
}
h2 {
	font-family:'BebasNeueBold', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}
.thumbnail {
	height: 15rem;
	width: 9rem;
	margin-right: 2rem;
	background-size: 100% !important;
	float: left;
}